<section id="form">
	<h2>Form <small>Dammit, flat design</small></h2>
	<p>As the button, form are a complex part of web user experience, you'll love flat but your grandmother will find it hard to recognize.</p>
	<p>As always, the sass for those cover all input type &amp; state, and just wait for you to drop the shadow bomb.</p>
	<div class="three block">
		<%
			var formState = ["", "error", "success", "warning"];
			for(var i=0; i<formState.length; i++) { 
		%>
			<label><%= formState[i] %> input</label>
			<input type="text" placeholder="<%= formState[i] %> placeholder" class="<%= formState[i] %>" />
		<% }; %>
	</div>
	<div class="three block">
		<label for="textarea">textarea</label>
		<textarea placeholder="textarea"></textarea>
		<label><input type="checkbox" value="checkbox input"/> Checkbox input</label>
		<label><input type="radio" value="radio input"/> Radio input</label>
	</div>
	<div class="six block">
		<label for="">Inline form</label>
		<div class="inline-input">
			<input type="text" placeholder="text input" />
			<input type="radio"/><label for="one">one</label>
			<input type="radio"/><label for="two">two</label>
			<select>
				<option>option1</option>
				<option>option2</option>
			</select>
			<input type="submit"/>
		</div>
	</div>
</section>
<% var formType = ["text", "email", "password", "date", "datetime", "datetime-local", "number", "week", "month", "url", "tel", "search", "color", "range", "reset", "submit", "file"]; %>