<h2>Doc</h2>
<nav>
	<ul>
		<li>Intro</li>
		<li>UI</li>
		<li><a href="#type">Type</a></li>
		<li><a href="#grid">Grid</a></li>
		<li><a href="#form">Form</a></li>
		<li><a href="#button">Button</a></li>
		<li>Tools</li>
		<li><a href="#variables">Variables</a></li>
		<li><a href="#media">Media query</a></li>
		<li><a href="#mixin">Mixin</a></li>
		<li><a href="#reset">Helpers &amp; selector</a></li>
		<li>Concept</li>
		<li><a href="#spacing">Spacing</a></li>
		<li><a href="#tips">Tips</a></li>		
	</ul>
</nav>
