<section id="variables">
	<h2>Variable <small>The first thing you should look at</small></h2>
	<p>Every element is linked somehow to that file, it contain default font size &amp; family, grid width, columns number or even columns name. A good practice is to be sure you've got control of your css, and that's by blab lballb a soe consistency toe bla.</p>
	<p>Start by playing around your base font size and the line height (default to golden ratio).</p>
	<pre class="prettyprint lang-sass">
$base-font-size:	16px;
$line-height: 	1.61803398875; // Golden ratio</pre>
</section>