@mixin form-theme($color){
  border: 1px solid $color;
  color: $color;
}


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

#{$text-input}, textarea {
  @include rem(padding, 0.5);
  border-radius: $radius;
  border: 1px solid #aaa;
  outline: 1px solid transparent;
  background: $white;
  width: 100%;
  
  @include placeholder {
    font-style: italic;
  }
  
  &:focus {
    outline-color: $primary-color;
    border-color: $primary-color;
  }
  
  &.error {
    border-color: $red;
    &:focus {
      outline-color: $red;
    }
    @include form-theme($red);
    @include placeholder {
      color: rgba($red, 0.6);
    }
  }
  
  &.success {
    border-color: $green;
    &:focus {
      outline-color: $green;
    }
    @include form-theme($green);
    @include placeholder {
      color: rgba($green, 0.6);
    }
  }
  
  &.warning {
    border-color: $orange;
    &:focus {
      outline-color: $orange;
    }
    @include form-theme($orange);
    @include placeholder {
      color: rgba($orange, 0.6);
    }
  }
  
  &:disabled, .disabled {
    border: 1px solid #bbb;
    color: #999;
    @include placeholder {
      color: rgba(#999, 0.6);
    }
  }
}

label {
  display: block;
  input{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    @include rem(margin-right, 0.3);
  }
}

.inline-input{
  button,
  input,
  label,
  select,
  textarea {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    @include rem(margin-right, 0.5);
    &:last-child {margin-right: 0;}
  }
}