/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Grid setings */
/* Responsive settings */
/* Animation settings */
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  clear: both;
  padding: 0 5px 0 5px; }
  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .row .row {
    padding: 0; }

.block {
  float: left;
  display: block;
  padding: 0 5px 0 5px;
  position: relative;
  /* Media query */ }
  .block.one {
    width: 8.33333%; }
    .block.one.popup {
      max-width: 106.66667px; }
  .block.two {
    width: 16.66667%; }
    .block.two.popup {
      max-width: 213.33333px; }
  .block.three {
    width: 25%; }
    .block.three.popup {
      max-width: 320px; }
  .block.four {
    width: 33.33333%; }
    .block.four.popup {
      max-width: 426.66667px; }
  .block.five {
    width: 41.66667%; }
    .block.five.popup {
      max-width: 533.33333px; }
  .block.six {
    width: 50%; }
    .block.six.popup {
      max-width: 640px; }
  .block.seven {
    width: 58.33333%; }
    .block.seven.popup {
      max-width: 746.66667px; }
  .block.eight {
    width: 66.66667%; }
    .block.eight.popup {
      max-width: 853.33333px; }
  .block.nine {
    width: 75%; }
    .block.nine.popup {
      max-width: 960px; }
  .block.ten {
    width: 83.33333%; }
    .block.ten.popup {
      max-width: 1066.66667px; }
  .block.eleven {
    width: 91.66667%; }
    .block.eleven.popup {
      max-width: 1173.33333px; }
  .block.twelve {
    width: 100%; }
    .block.twelve.popup {
      max-width: 1280px; }
  .block.offset-by-one {
    margin-left: 8.33333%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-one {
        margin-left: 0; } }
  .block.offset-by-two {
    margin-left: 16.66667%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-two {
        margin-left: 0; } }
  .block.offset-by-three {
    margin-left: 25%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-three {
        margin-left: 0; } }
  .block.offset-by-four {
    margin-left: 33.33333%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-four {
        margin-left: 0; } }
  .block.offset-by-five {
    margin-left: 41.66667%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-five {
        margin-left: 0; } }
  .block.offset-by-six {
    margin-left: 50%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-six {
        margin-left: 0; } }
  .block.offset-by-seven {
    margin-left: 58.33333%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-seven {
        margin-left: 0; } }
  .block.offset-by-eight {
    margin-left: 66.66667%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-eight {
        margin-left: 0; } }
  .block.offset-by-nine {
    margin-left: 75%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-nine {
        margin-left: 0; } }
  .block.offset-by-ten {
    margin-left: 83.33333%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-ten {
        margin-left: 0; } }
  .block.offset-by-eleven {
    margin-left: 91.66667%; }
    @media only screen and (max-width: 760px) {
      .block.offset-by-eleven {
        margin-left: 0; } }
  @media only screen and (max-width: 760px) {
    .block.one, .block.two, .block.three, .block.four, .block.five, .block.six, .block.seven, .block.eight, .block.nine, .block.ten, .block.eleven, .block.twelve {
      width: 100%; }
    .block.mobile-one {
      width: 8.33333%; }
    .block.mobile-two {
      width: 16.66667%; }
    .block.mobile-three {
      width: 25%; }
    .block.mobile-four {
      width: 33.33333%; }
    .block.mobile-five {
      width: 41.66667%; }
    .block.mobile-six {
      width: 50%; }
    .block.mobile-seven {
      width: 58.33333%; }
    .block.mobile-eight {
      width: 66.66667%; }
    .block.mobile-nine {
      width: 75%; }
    .block.mobile-ten {
      width: 83.33333%; }
    .block.mobile-eleven {
      width: 91.66667%; }
    .block.mobile-twelve {
      width: 100%; } }
  .block.centered {
    float: none;
    margin: 0 auto; }
  .block.no-gutter {
    padding: 0; }
  .block.center {
    float: none;
    margin: 0 auto; }

@media only screen and (max-width: 760px) {
  .mobile-no-padding {
    padding: 0; }

  .columns {
    margin-left: 0; } }
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 16px;
  font-size: 1rem; }

input, textarea {
  padding: 8px;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaa;
  width: 100%;
  outline: none;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }
  input:last-child, textarea:last-child {
    margin-bottom: 0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-style: italic; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-style: italic; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-style: italic; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-style: italic; }
  input:focus, textarea:focus {
    border: 1px solid #3498db; }
    input:focus:focus, textarea:focus:focus {
      -webkit-box-shadow: 0 0 2px 2px rgba(33, 125, 187, 0.3);
      -moz-box-shadow: 0 0 2px 2px rgba(33, 125, 187, 0.3);
      box-shadow: 0 0 2px 2px rgba(33, 125, 187, 0.3); }
  input.error, textarea.error {
    border: 1px solid #e74c3c;
    color: #e74c3c; }
    input.error:focus, textarea.error:focus {
      -webkit-box-shadow: 0 0 2px 2px rgba(214, 44, 26, 0.3);
      -moz-box-shadow: 0 0 2px 2px rgba(214, 44, 26, 0.3);
      box-shadow: 0 0 2px 2px rgba(214, 44, 26, 0.3); }
    input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
      color: rgba(231, 76, 60, 0.6); }
    input.error:-moz-placeholder, textarea.error:-moz-placeholder {
      color: rgba(231, 76, 60, 0.6); }
    input.error::-moz-placeholder, textarea.error::-moz-placeholder {
      color: rgba(231, 76, 60, 0.6); }
    input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
      color: rgba(231, 76, 60, 0.6); }
  input.success, textarea.success {
    border: 1px solid #2ecc71;
    color: #2ecc71; }
    input.success:focus, textarea.success:focus {
      -webkit-box-shadow: 0 0 2px 2px rgba(37, 162, 90, 0.3);
      -moz-box-shadow: 0 0 2px 2px rgba(37, 162, 90, 0.3);
      box-shadow: 0 0 2px 2px rgba(37, 162, 90, 0.3); }
    input.success::-webkit-input-placeholder, textarea.success::-webkit-input-placeholder {
      color: rgba(46, 204, 113, 0.6); }
    input.success:-moz-placeholder, textarea.success:-moz-placeholder {
      color: rgba(46, 204, 113, 0.6); }
    input.success::-moz-placeholder, textarea.success::-moz-placeholder {
      color: rgba(46, 204, 113, 0.6); }
    input.success:-ms-input-placeholder, textarea.success:-ms-input-placeholder {
      color: rgba(46, 204, 113, 0.6); }
  input.warning, textarea.warning {
    border: 1px solid #f39c12;
    color: #f39c12; }
    input.warning:focus, textarea.warning:focus {
      -webkit-box-shadow: 0 0 2px 2px rgba(200, 127, 10, 0.3);
      -moz-box-shadow: 0 0 2px 2px rgba(200, 127, 10, 0.3);
      box-shadow: 0 0 2px 2px rgba(200, 127, 10, 0.3); }
    input.warning::-webkit-input-placeholder, textarea.warning::-webkit-input-placeholder {
      color: rgba(243, 156, 18, 0.6); }
    input.warning:-moz-placeholder, textarea.warning:-moz-placeholder {
      color: rgba(243, 156, 18, 0.6); }
    input.warning::-moz-placeholder, textarea.warning::-moz-placeholder {
      color: rgba(243, 156, 18, 0.6); }
    input.warning:-ms-input-placeholder, textarea.warning:-ms-input-placeholder {
      color: rgba(243, 156, 18, 0.6); }
  input:disabled, input .disabled, textarea:disabled, textarea .disabled {
    border: 1px solid #bbb;
    color: #999; }
    input:disabled::-webkit-input-placeholder, input .disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder, textarea .disabled::-webkit-input-placeholder {
      color: rgba(153, 153, 153, 0.6); }
    input:disabled:-moz-placeholder, input .disabled:-moz-placeholder, textarea:disabled:-moz-placeholder, textarea .disabled:-moz-placeholder {
      color: rgba(153, 153, 153, 0.6); }
    input:disabled::-moz-placeholder, input .disabled::-moz-placeholder, textarea:disabled::-moz-placeholder, textarea .disabled::-moz-placeholder {
      color: rgba(153, 153, 153, 0.6); }
    input:disabled:-ms-input-placeholder, input .disabled:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder, textarea .disabled:-ms-input-placeholder {
      color: rgba(153, 153, 153, 0.6); }

.inline-input {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }
  .inline-input:last-child {
    margin-bottom: 0; }
  .inline-input button,
  .inline-input input,
  .inline-input label,
  .inline-input select,
  .inline-input textarea {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 8px;
    margin-right: 0.5rem; }
    .inline-input button:last-child,
    .inline-input input:last-child,
    .inline-input label:last-child,
    .inline-input select:last-child,
    .inline-input textarea:last-child {
      margin-right: 0; }

body {
  color: #121212;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

html {
  font-size: 16px;
  line-height: 22.4px; }

ul {
  list-style: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 44.8px;
  line-height: 2.8rem; }

h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  line-height: 40.32px;
  line-height: 2.52rem; }

h3 {
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 35.84px;
  line-height: 2.24rem; }

h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 31.36px;
  line-height: 1.96rem; }

h5 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26.88px;
  line-height: 1.68rem; }

button, .button {
  margin: 0;
  padding: 0;
  border: none;
  padding: none;
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #3498db;
  color: #fefefe;
  border: 1px #217dbb solid; }
  button:disabled, button .disabled, .button:disabled, .button .disabled {
    cursor: default; }
  button.tiny, .button.tiny {
    font-size: 9.6px;
    font-size: 0.6rem;
    padding: 4.8px 9.6px;
    padding: 0.3rem 0.6rem; }
  button.small, .button.small {
    font-size: 12.8px;
    font-size: 0.8rem;
    padding: 6.4px 12.8px;
    padding: 0.4rem 0.8rem; }
  button.large, .button.large {
    font-size: 19.2px;
    font-size: 1.2rem;
    padding: 9.6px 19.2px;
    padding: 0.6rem 1.2rem; }
  button:hover, .button:hover {
    background-color: #217dbb; }
  button:active, .button:active {
    background-color: #1d6fa5; }
  button:focus, button.focus, .button:focus, .button.focus {
    box-shadow: 0 0 2px 2px rgba(33, 125, 187, 0.3); }
  button:disabled, button .disabled, .button:disabled, .button .disabled {
    color: rgba(254, 254, 254, 0.4);
    background: #3498db !important; }
  button.green, .button.green {
    background: #2ecc71;
    color: #fefefe;
    border: 1px #25a25a solid; }
    button.green:hover, .button.green:hover {
      background-color: #25a25a; }
    button.green:active, .button.green:active {
      background-color: #208e4e; }
    button.green:focus, button.green.focus, .button.green:focus, .button.green.focus {
      box-shadow: 0 0 2px 2px rgba(37, 162, 90, 0.3); }
    button.green:disabled, button.green .disabled, .button.green:disabled, .button.green .disabled {
      color: rgba(254, 254, 254, 0.4);
      background: #2ecc71 !important; }
  button.yellow, .button.yellow {
    background: #ffd927;
    color: #fefefe;
    border: 1px #f3c800 solid; }
    button.yellow:hover, .button.yellow:hover {
      background-color: #f3c800; }
    button.yellow:active, .button.yellow:active {
      background-color: #d9b300; }
    button.yellow:focus, button.yellow.focus, .button.yellow:focus, .button.yellow.focus {
      box-shadow: 0 0 2px 2px rgba(243, 200, 0, 0.3); }
    button.yellow:disabled, button.yellow .disabled, .button.yellow:disabled, .button.yellow .disabled {
      color: rgba(254, 254, 254, 0.4);
      background: #ffd927 !important; }
  button.orange, .button.orange {
    background: #f39c12;
    color: #fefefe;
    border: 1px #c87f0a solid; }
    button.orange:hover, .button.orange:hover {
      background-color: #c87f0a; }
    button.orange:active, .button.orange:active {
      background-color: #b06f09; }
    button.orange:focus, button.orange.focus, .button.orange:focus, .button.orange.focus {
      box-shadow: 0 0 2px 2px rgba(200, 127, 10, 0.3); }
    button.orange:disabled, button.orange .disabled, .button.orange:disabled, .button.orange .disabled {
      color: rgba(254, 254, 254, 0.4);
      background: #f39c12 !important; }
  button.red, .button.red {
    background: #e74c3c;
    color: #fefefe;
    border: 1px #d62c1a solid; }
    button.red:hover, .button.red:hover {
      background-color: #d62c1a; }
    button.red:active, .button.red:active {
      background-color: #bf2718; }
    button.red:focus, button.red.focus, .button.red:focus, .button.red.focus {
      box-shadow: 0 0 2px 2px rgba(214, 44, 26, 0.3); }
    button.red:disabled, button.red .disabled, .button.red:disabled, .button.red .disabled {
      color: rgba(254, 254, 254, 0.4);
      background: #e74c3c !important; }
  button.grey, .button.grey {
    background: #eeeeee;
    color: #121212;
    border: 1px #d4d4d4 solid; }
    button.grey:hover, .button.grey:hover {
      background-color: #d4d4d4; }
    button.grey:active, .button.grey:active {
      background-color: #c8c8c8; }
    button.grey:focus, button.grey.focus, .button.grey:focus, .button.grey.focus {
      box-shadow: 0 0 2px 2px rgba(212, 212, 212, 0.3); }
    button.grey:disabled, button.grey .disabled, .button.grey:disabled, .button.grey .disabled {
      color: rgba(18, 18, 18, 0.4);
      background: #eeeeee !important; }
  button.black, .button.black {
    background: #121212;
    color: #fefefe;
    border: 1px black solid; }
    button.black:hover, .button.black:hover {
      background-color: black; }
    button.black:active, .button.black:active {
      background-color: black; }
    button.black:focus, button.black.focus, .button.black:focus, .button.black.focus {
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3); }
    button.black:disabled, button.black .disabled, .button.black:disabled, .button.black .disabled {
      color: rgba(254, 254, 254, 0.4);
      background: #121212 !important; }
  button.white, .button.white {
    background: #fefefe;
    color: #121212;
    border: 1px #e5e5e5 solid; }
    button.white:hover, .button.white:hover {
      background-color: #e5e5e5; }
    button.white:active, .button.white:active {
      background-color: #d8d8d8; }
    button.white:focus, button.white.focus, .button.white:focus, .button.white.focus {
      box-shadow: 0 0 2px 2px rgba(229, 229, 229, 0.3); }
    button.white:disabled, button.white .disabled, .button.white:disabled, .button.white .disabled {
      color: rgba(18, 18, 18, 0.4);
      background: #fefefe !important; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased; }

body {
  background: #eee; }

.block-content {
  padding: 5px;
  background: #ddd;
  border-radius: 3px; }

.row {
  margin-bottom: 10px; }

iframe {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 320px;
  height: 480px; }

.clearfix {
  display: block;
  clear: both; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
