<%- include layout/header.html.ejs %>
<div class="row">
  <div class="text-center clearfix eight columns centered">
    <h1>Kirkas Boilerplate</h1>
    <h2>The simple app boilerplate</h2>
    <p>
      Use to work on different project, i've started to see few common pattern
      in my workflow. I would always create those button, form & grid css
      concept.
    </p>
    <p>
      Every sass file is tiny, and mean to be change, they're only there as a start kit.
    </p>
    <a href="https://github.com/kirkas/kirkas-boilerplate" class="button large">See project on github</a>
    <a href="demo.html" class="button large grey">See documentation</a>
  </div>
  <div class="four block">
    <h3>Workflow</h3>
    <p>Modern and effort-less</p>
    <ul class="home-bullet-point">
      <li>Grunt.js</li>
      <li>Bower</li>
      <li>Livereload</li>
      <li>Templater</li>
    </ul>
  </div>
  <div class="four block">
    <h3>Javascript</h3>
    <p>Browser friendly and minify to infinite</p>
    <ul class="home-bullet-point">
      <li>Modernizr (custom)</li>
      <li>Ejs templating system</li>
      <li>Basic components (button, form, type)</li>
      <li>Smart project scaffolding</li>
    </ul>
  </div>
  <div class="four block">
    <h3>SASS</h3>
    <p>Small and highly customizable</p>
    <ul class="home-bullet-point">
      <li>Rem system (with px stylesheet   fallback)</li>
      <li>Highly customizable grid system</li>
      <li>Basic components (button, form, type)</li>
      <li>Mixin, Helper &amp; Selector</li>
    </ul>
  </div>
  <div class="three block">
    <h4>1. Install dependencies</h4>
    <pre class="prettyprint">npm install &amp;&amp; bower install</pre>
  </div>
  <div class="three block">
    <h4>2. Start server</h4>
    <pre class="prettyprint">grunt server</pre>
  </div>
  <div class="three block">
    <h4>3. Build</h4>
    <pre class="prettyprint">grunt build</pre>
  </div>
  <div class="three block">
    <h4>4. Start server on prod</small></h4>
    <pre class="prettyprint">grunt server:prod</pre>
  </div>
</div>
<script>var currentPage = "home";</script>
<%- include layout/footer.html.ejs %>